import("devtools")
import("ggplot2")
import("scales")
import("Rcpp")
import("kableExtra")
import("methods")

importFrom("stats", "cov2cor","D","complete.cases" )
importFrom("Deriv", "Simplify" )
importFrom("methods",  "signature", "as", "is", "callNextMethod", "new","slot", "validObject" )
importFrom("pracma", "linspace","cond","pinv")
importFrom("deSolve", "ode","cleanEventTimes")
importFrom("Matrix", "bdiag")
importFrom("stringr", "str_replace_all","str_remove")
importFrom("stats", "rcauchy", "rnorm", "runif")
importFrom("utils", "combn", "tail")
importFrom("methods", "show")

exportClasses(Administration)
exportClasses(AdministrationConstraints)
exportClasses(Arm)
exportClasses(BayesianFim)
exportClasses(Combined1)
exportClasses(Constant)
exportClasses(Design)
exportClasses(Distribution)
exportClasses(Evaluation)
exportClasses(FedorovWynnAlgorithm)
exportClasses(Fim)
exportClasses(IndividualFim)
exportClasses(LibraryOfModels)
exportClasses(LibraryOfPKPDModels)
exportClasses(LogNormal)
exportClasses(Model)
exportClasses(ModelAnalytic)
exportClasses(ModelAnalyticBolus)
exportClasses(ModelAnalyticBolusSteadyState)
exportClasses(ModelAnalyticInfusion)
exportClasses(ModelAnalyticInfusionSteadyState)
exportClasses(ModelAnalyticSteadyState)
exportClasses(ModelBolus)
exportClasses(ModelError)
exportClasses(ModelInfusion)
exportClasses(ModelODE)
exportClasses(ModelODEBolus)
exportClasses(ModelODEDoseInEquations)
exportClasses(ModelODEDoseNotInEquations)
exportClasses(ModelODEInfusion)
exportClasses(ModelODEInfusionDoseInEquations)
exportClasses(ModelParameter)
exportClasses(MultiplicativeAlgorithm)
exportClasses(Normal)
exportClasses(Optimization)
exportClasses(OptimizationAlgorithm)
exportClasses(PFIMProject)
exportClasses(PGBOAlgorithm)
exportClasses(PSOAlgorithm)
exportClasses(PlotEvaluation)
exportClasses(PopulationFim)
exportClasses(Proportional)
exportClasses(SamplingTimeConstraints)
exportClasses(SamplingTimes)
exportClasses(SimplexAlgorithm)
