
import("Rcpp")
import("filesstrings")
import("kableExtra")
import("markdown")

import("ggplot2")
import("ggbreak")

importFrom("pracma", "linspace")
importFrom("utils", "combn", "tail")
importFrom("deSolve", "ode")
importFrom("Matrix", "bdiag")
importFrom("methods", "as", "callNextMethod", "is", "new", "show",
           "signature", "slot", "slotNames", "validObject","setClass")
importFrom("stats", "D", "cov2cor", "rcauchy", "rnorm", "runif",'time')
importFrom("utils", "combn", "tail")
importFrom("pracma", "linspace")
importFrom("pracma", "cond")
importFrom("grid", "rectGrob")
importFrom("grid", "gpar")
importFrom("grid", "textGrob")
importFrom("grid", "grid.draw")
importFrom("gtable", "gtable_add_rows")
importFrom("gtable", "gtable_show_layout")
importFrom("gtable", "gtable_add_grob")
importFrom("Deriv", "Simplify")

exportClasses(ModelEquations)
exportClasses(ModelODEquations)
exportClasses(ModelVariable)
exportClasses(PFIMProject)
exportClasses(StatisticalModel)
exportClasses(Administration)
exportClasses(AdministrationConstraint)
exportClasses(Arm)
exportClasses(BayesianFim)
exportClasses(Combined1)
exportClasses(Combined1c)
exportClasses(Combined2)
exportClasses(Combined2c)
exportClasses(Constant)
exportClasses(Constraint)
exportClasses(ContinuousConstraint)
exportClasses(Design)
exportClasses(DesignConstraint)
exportClasses(DiscreteConstraint)
exportClasses(Distribution)
exportClasses(FedorovWynnAlgorithm)
exportClasses(Fim)
exportClasses(IndividualFim)
exportClasses(LibraryOfModels)
exportClasses(LogNormalDistribution)
exportClasses(Model)
exportClasses(ModelEquations)
exportClasses(ModelError)
exportClasses(ModelInfusionEquations)
exportClasses(ModelInfusionODEquations)
exportClasses(ModelODEquations)
exportClasses(ModelParameter)
exportClasses(ModelVariable)
exportClasses(MultiplicativeAlgorithm)
exportClasses(NormalDistribution)
exportClasses(Optimization)
exportClasses(PDModel)
exportClasses(PFIMProject)
exportClasses(PGBOAlgorithm)
exportClasses(PKModel)
exportClasses(PKPDModel)
exportClasses(PSOAlgorithm)
exportClasses(PopulationFim)
exportClasses(Proportional)
exportClasses(ProportionalC)
exportClasses(Response)
exportClasses(SamplingConstraint)
exportClasses(SamplingTimes)
exportClasses(SimplexAlgorithm)
exportClasses(StandardDistribution)
exportClasses(StatisticalModel)
exportClasses(ReportAndPlots)
